/*un solo dato por variable ej:colore o tamaño*/

$negro: #000000;
$verde: #9dc100;
$celeste: #2789b5;
$gris-oscuro: #444444;
$gris-medio: #999999;
$gris-claro: #f6f6f6;
$blanco: #ffffff;

$titulo-grande: ;
$titulo-medio: ;
